.login {
  background-color: white;
  height: 100vh; /**without this it is only covering my use background area. so this is important*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_logo {
  width: 200px;
  object-fit: contain;
  margin-top: 10px;
}

.login_container {
  width: 300px; /**this squeez everything indide my container
  which give it a comapct look. and it make it more center orieneted**/
  padding: 30px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.login_container > h1 {
  font-weight: 500px;
  margin-bottom: 20px;
}

.login_container > form > h5 {
  margin-bottom: 5px;
}

.login_container > form > input {
  height: 30px;
  margin-bottom: 10px;
  width: 98%; /**98 % of my container area....
  */
}

.login_container > p {
  margin-top: 20px;
  font-size: 12px;
}

.login_signin_button {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  width: 100%;
  border-radius: 2px;
  height: 30px;
}

.login_registration_button {
  margin-top: 10px;
  height: 30px;
}
